{{page-title "Ember Fastboot Vercel"}}

<nav>
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="foo">Foo</LinkTo>
  <LinkTo @route="bar">Bar</LinkTo>
</nav>

<h1>Hello, Vercel</h1>

{{outlet}}
